@page
@model WebClientApp.Pages.Climate.MeteorologicMapsModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Meteorologic Maps</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>