@page
@model WebClientApp.Pages.Policy.TermsModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Terms of Use</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>