@page
@model WebClientApp.Pages.Academy.StudentsModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">iTelescope for Students</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>