@page
@model WebClientApp.Pages.Academy.WebinarsModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Webinars</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>