@page
@model WebClientApp.Pages.Launchpad.PlannerModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Planner</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>