@page
@model WebClientApp.Pages.Social.ContactModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Contact Us</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>