@page
@model WebClientApp.Pages.Gallery.IndexModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Gallery</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>
