@page
@model WebClientApp.Pages.Account.RegisterModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Join Us</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>