@page
@model WebClientApp.Pages.Account.ResetPasswordModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Reset Your Password</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>