@page
@model WebClientApp.Pages.Pricing.IndexModel
@{
}

<main>
    <div class="container">
        <h1 class="text-success text-center">Pricing</h1>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</main>